.subtitulo,.sumario,.entradilla,.contenido,#objetivo,#Titulo, #imagenes_hover h1,#contacto_titulo,.contacto_subtitulo,.hover_titulo,#titulo_contacto,#subtitulo_contacto{
    font-weight: normal;
}
#footer,#Menu,.entradilla,.subentradilla,.hover_titulo,#titulo_contacto{
    font-family: "Trebuchet MS";
}

article li{
    font-family:"Trebuchet MS";
    list-style: none;
    font-weight: normal;
}
