#imagen_fondotitulo{
    margin:0%;
    width: 100%;
    height:540px;
    border:none;    
}
#imagen_titulocontacto{
    margin:0%;
    width: 100%;
    height:270px;
    border:none;    
    opacity:0.6;
}

#imagen_tituloHosting,#imagen_tituloDiseño,#imagen_tituloHtml,#imagen_tituloIndex{
    display: block;
    margin:auto;
    width: 100%;
    height:230px;
    border:none;  
    opacity:0.6;
}
#imagen_tituloHtml{
    margin:0%;
    width: 100%;
    height:270px;
    border:none; 
}
#titulo_imagen{
    margin-top: 0px;
    margin-left: 30%;
    height:540px;
    width:70%;
}

/**IMAGENES HTML**/
#imagenes_html1{
    float: right;
    height: 250px;
    margin-top:-45%; 
}
#imagenes_html2{
    float: left;
    height: 250px;
    margin-top: -30%;
    
}




/**DISEÑO IMAGENES HOVER**/

#Hosting,#Diseño,#Input{
    max-width: 100%;
    display: block;
    margin-top:0px;
}

#container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid; /**numero de imagenes por columna**/
    grid-template-columns: repeat(1,1fr);
}
.item{
    cursor:pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.95);
    margin-bottom:30px;
    margin-left:30px;
    transition:all 300ms ;
}

.item_textcontainer .contenido_hover{
    color:#3e3e3e;    
    font-size: 26px;
}

.item_textcontainer p{
    margin-left:20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color:#3e3e3e;
}

.item_text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-decoration:none;
    margin-top: 10px;
    padding-right:20px;
    font-weight:normal;
    font-size: 18px;
    
}

.item:hover{
    transform:scale(1.05)
}
#imagenes_hover{
    margin-top:0px;
    padding-top: 50px;
    padding-bottom:100px;
    
}

@media screen and (min-width:890px){
    #container{
        grid-template-columns: repeat(3,1fr);
    }
}

/**IMAGENES DISEÑO**/
.imagenes_Hosting,.imagenes_Diseño{
    width: 90%;
    display: block;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right: auto;
    height: auto;
}

/**IMAGENES CONTACTO**/

#parallax_Hosting,#parallax_Diseño,#parallax_Html,#parallax_Contacto,#parallax_Index{
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/titulo_hosting.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    justify-content: center; 
}
#parallax_Diseño{
    background-image: url(imagenes/titulo_diseño.jpg) !important; 
}
#parallax_Html{
    background-image: url(imagenes/titulo_imagen.jpg)  !important;  
}
#parallax_Contacto{
    background-image: url(imagenes/contacto.jpg)  !important;
}
#parallax_Index{
    background-image: url(imagenes/titulo_inicio.jpg)  !important;
    
}
#parallax_separacion{
    width: 100%;
    height: 30vh;
    background-image: url(imagenes/frase.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    justify-content: center; 
    margin: 0px;
}
/**Hover contacto**/
#hover_contacto{
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: border-box;
    font-family: monospace;
    width:100%;
    height: 80vh;
    background-color:#f5f5f5;
    display: flex;
    margin-top: 0px;  
}
#hover_box{
    width:100%;
    height: 80vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0%;
}
#hover_box img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

#hover_box .hover_titulo{
    width:0%;
    height:80vh;
    background-color: rgba(56,53,53,0.868);
    position:absolute;
    display:flex;
    top:0;
    justify-content: center;
    padding-top: 45%;
    overflow: hidden;
    transition: .4s all ;
}

.hover_titulo h1{
    color: #f5f5f5;
    font-size: 2.3em;
    line-height: 55px;
   
}

#hover_box:hover .hover_titulo{
    width: 100%;
}
/**CONTACTO**/
#flecha_icono{
    height: 20px;
    padding-top: 90vh;
    position: absolute;
    margin-right:auto;
}
#imagenes_contacto1{
    float: right;
    height: 200px;
    margin-top:-25%; 
}
#imagenes_contacto2{
    float: left;
    height: 250px;
    margin-top: -32.5%;
    
}
#imagenes_contacto3{
    float: right;
    height: 230px;
    margin-top:-23.5%;
}


#imagenes_index1{
    float: right;
    height: 276px;
    margin-top:-26%;
} 



@media (min-width:768px) and (max-width:1200px){
    
#imagenes_index1{
    height: 390px;
    margin-top: 0px;
    padding-top: 25px;
    float: none;
    display: block;
    margin:auto;
}
#imagenes_contacto1{
    float: none;
    display:block;
    margin:auto;
    height: 200px;
    margin-top:0px; 
}
#imagenes_contacto2{
    float: none;
    height: 250px;
    margin-top: 0px;
    display: block;
    margin: auto;
}
#imagenes_contacto3{
    float: none;
    height: 230px;
    margin-top: 0px;
    display: block;
    margin: auto;
}
#hover_box .hover_titulo{
    width:0%;
    height:80vh;
    background-color: rgba(56,53,53,0.868);
    position:absolute;
    display:flex;
    top:0;
    justify-content: center;
    padding-top: 200px;
    overflow: hidden;
    transition: .4s all ;
}
#hover_box{
    width:100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0%;
}
#hover_contacto{
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: border-box;
    font-family: monospace;
    width:100%;
    height: 300vh;
    background-color:#f5f5f5;
    display:block;
    margin-top: 0px;  
}
#imagenes_html1{
    display: block;
    float: none;
    height: 250px;
    margin-top: -5%;
    margin: auto;
}

#imagenes_html2{
    float: none;
    height: 250px;
    margin-top: -0%;
    margin: auto;
    display: block;
}
   

}

@media (min-width:0px) and (max-width:768px){
    #imagenes_index1{
        height: 250px;
        margin-top: 0px;
        padding-top: 25px;
        float: none;
        display: block;
        margin:auto;
    }
    #imagen_tituloHosting,#imagen_tituloDiseño,#imagen_tituloHtml,#imagen_tituloIndex{
        display: block;
        margin:auto;
        width: 100%;
        height:100%;
        border:none;  
        opacity:0.6;    
    }
    
    #imagen_titulocontacto{
        margin:0%;
        width: 100%;
        height:100%;
        border:none;    
        opacity:0.6;
    }
    #imagenes_contacto1{
        float: none;
        height: 300px;
        margin-top:0%; 
        display: block;
        margin:auto;
    }
    #imagenes_contacto2{
        float: none;
        height: 200px;
        margin-top: 0%;
        
    }
    #imagenes_contacto3{
        float: none;
        height: 230px;
        margin-top:0%;
    }
    #hover_box{
        width:100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        position: relative;
        margin: 0%;
    }
    #hover_box .hover_titulo{
        width:0%;
        height:80vh;
        background-color: rgba(56,53,53,0.868);
        position:absolute;
        display:flex;
        top:0;
        justify-content: center;
        padding-top: 200px;
        overflow: hidden;
        transition: .4s all ;
    }
    #hover_contacto{
        margin-left: auto !important;
        margin-right: auto !important;
        box-sizing: border-box;
        font-family: monospace;
        width:100%;
        height: 300vh;
        background-color:#f5f5f5;
        display:block;
        margin-top: 0px;  
    }
    #imagenes_html1{

        display: block;
        float: none;
        height: 250px;
        margin-top: -5%;
        margin: auto;
    }
    
    #imagenes_html2{
        float: none;
        height: 250px;
        margin-top: -0%;
        margin: auto;
        display: block;
    }
    #flecha_icono img{
        height: 0px;
    }


    /**IMAGENES PARALLAX**/
    
    #parallax_Hosting,#parallax_Diseño,#parallax_Html,#parallax_Contacto,#parallax_Index{
    width: 100%;
    background-image: url(imagenes/titulo_hosting.jpg);
    background-position: center;
    background-size:300%;
    background-repeat:no-repeat;
    background-attachment: scroll;
    display:flex;
    justify-content: center; 
}
    #parallax_Diseño{
        background-image: url(imagenes/titulo_diseño.jpg) !important; 
    }
    #parallax_Html{
        background-image: url(imagenes/titulo_imagen.jpg)  !important;  
    }
    #parallax_Contacto{
        background-image: url(imagenes/contacto.jpg)  !important;
    }
    #parallax_Index{
        background-image: url(imagenes/titulo_inicio.jpg)  !important;
        
    }
    #parallax_separacion{
        width: 100%;
        height: 30vh;
        background-image: url(imagenes/frase.jpg);
        background-position: center;
        background-size:300%;
        background-repeat:no-repeat;
        background-attachment: scroll;
        display:flex;
        justify-content: center; 
        margin: 0px;
    }

}
@media (max-width:506px){
#imagen_titulocontacto{
    margin:0%;
    width: 100%;
    height:100%;
    border:none;    
    opacity:0.6;
   
}
#imagen_tituloHtml{
    margin:0%;
    width: 100%;
    height:100%;
    border:none;    
    opacity:0.6;
   
}

#imagenes_contacto1{
    float: none;
    height: 200px;
    margin-top:-25px; 
    margin-bottom: 50px;
}
#flecha_icono img{
    height: 0px;
}
#parallax_Hosting,#parallax_Diseño,#parallax_Html,#parallax_Contacto,#parallax_Index{
    width: 100%;
    background-image: url(imagenes/titulo_hosting.jpg);
    background-position: center;
    background-size:400%;
    background-repeat:no-repeat;
    background-attachment: scroll;
    display:flex;
    justify-content: center; 
}
    #parallax_Diseño{
        background-image: url(imagenes/titulo_diseño.jpg) !important; 
    }
    #parallax_Html{
        background-image: url(imagenes/titulo_imagen.jpg)  !important;  
    }
    #parallax_Contacto{
        background-image: url(imagenes/contacto.jpg)  !important;
    }
    #parallax_Index{
        background-image: url(imagenes/titulo_inicio.jpg)  !important;
        
    }
    #parallax_separacion{
        width: 100%;
        height: 30vh;
        background-image: url(imagenes/frase.jpg);
        background-position: center;
        background-size:300%;
        background-repeat:no-repeat;
        background-attachment: scroll;
        display:flex;
        justify-content: center; 
        margin: 0px;
    }

}