body{
    margin:0px;
    padding:0px;
}

#Titulo{
    width:500px;
    left:3.5%;
    margin-top:200px;
    text-align: center;
}


.subtitulo{
    text-align:center;
    margin-bottom: 100px;
    
}
#introduccion{
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
}
#objetivo,.subtitulo{
    text-align:center; 
    margin-top:0px;
}
#objetivo{
    margin:0px;
    padding-top:550px;
}
.lista,#contenido{
    margin-left: 4.25%;
    margin-right: 12.25%;
}
#Hosting_contenido > .lista{
    margin-bottom:30px;
}

#Diseño_contenido > .lista{
    margin-bottom:30px;
}

.lista  li{
    padding-left: 0px;
}

hr{
    max-width: 95%;
    margin-bottom:40px;
    
}
.sumario{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.contenido{
    margin-top:20px;
}
#imagenes_hover .contenido{
    margin-left: 0px;
    margin-bottom: 0px;
}
.lista{
    text-align:left;
   
}
.lista_contenido{
    text-align:justify;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: auto;

}
#imagenes_hover h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.subentradilla{
    line-height: 30px;
}

/**HTML **/
#CSS{
    padding-left: 220px;
    text-align: justify;  
}
/**SOBREPOSICION IMAGEN & TEXTO TITULO**/


#imagen_fondotitulo,#Titulo,#Menu,#titulo_imagen,#imagen_titulocontacto,#imagen_tituloHosting,#imagen_tituloHtml,#imagen_tituloDiseño,#imagen_tituloIndex{
    position:absolute;
}
#imagen-fondotitulo{
    z-index:1;
}
#Titulo,#titulo_imagen{
    z-index:2;
}
#Menu{
    z-index:3;
}


/**DISEÑO FOOTER**/

#pie_footer{
    text-align: center;
    position:relative;
    padding-bottom:10px;
    padding-top:10px;
    width: 100%;
}
#pie_footerhosting,#pie_footerdiseño{
    margin-top: 100px;
    text-align: center;
    position:relative;
    padding-bottom:10px;
    padding-top:10px;
    width: 100%;
}
#pie_footerhtml{
    text-align: center;
    position:relative;
    padding-bottom:10px;
    padding-top:10px;
    width: 100%;
}

#titulo_footer{
    text-align: center;
    position:relative;
    margin:0px;
    width: 100%;
}

/**HOSTINGER**/
#Hosting_contenido,#Diseño_contenido,#contacto_Contenido,#Index_contenido{
    margin-top: 50px;
    padding-top: 10px ;
    box-shadow:12px 29px 81px 0px rgba(0,0,0,0.75);
}
#Hosting_contenido,#Diseño_contenido{
    max-width: 900px;
    margin-left: auto !important;
    margin-right: auto !important;    
}
#contacto_Contenido{
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
}
#Hosting_contenido ul,#Diseño_contenido ul{
    display:block;
    position:relative;
    margin-left:10px;
    margin-right: 10px;
}
#Hosting_contenido li, #Diseño_contenido li{
    margin-left: 0px;
}

#menu_contenido{
    width: 50%;
}

/**CONTACTO**/
#contacto_imagen{
    position: static; 
}


#contacto_titulo{    
    padding-top: 50px;
    text-align: center;
    position: relative;
    line-height: 80px;
}
#subcontenido_contacto{   
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#contacto_Contenido > p{
    text-align: center;
}

#li_contactoQuien_soy{
    padding-right: 235px;
    padding-bottom: 0px;
}
#li_contactoQue_hago{
    padding-left: 320px;
    text-align: justify; 
    padding-right: 35px; 
}
#li_contactoComo_trabajo{
    padding-right:245px;
}
#Que_hago >.subentradilla, #Quien_soy >.subentradilla, #Como_trabajo >.subentradilla,#Video >.subentradilla{
    text-align: center;
    font-size: 2.5em;
    line-height: 1.2;
}


#titulo_contacto,#subtitulo_contacto{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
#subtitulo_contacto{
    margin-top: 10px !important;
    color: black;
}

/**Index**/
#Index_contenido {
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
}


#video_index{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 100px;
    position: relative;
    
}

#video_index iframe {
    height: 85%;
    left: 0;
    position: absolute;
    top: 0;
    width:100%;
    
}

#li_indexVideo{
    text-align: justify;
    padding-right:0px ;
    margin-left:35px;
    margin-right:35% ;
}

#video_texto{
    padding-right: 235px;
}


#titulo_Video{
    text-align: center;
}


/**Diseño adaptable para INDEX**/


@media (max-width:1200px){
    #li_indexVideo{
        text-align: justify;
        padding-right:0px ;
        margin-left:35px;
        margin-right:0px ;
    }
    #li_contactoQuien_soy{
        text-align:justify;
        padding-right: 0px;
        margin-left:35px;
        padding-bottom: 0px;
    }
    #li_contactoQue_hago{
        text-align: justify;
        margin-left: 35px;
        padding-left: 0px;
         
    }
    #li_contactoComo_trabajo{
        padding-right:0px;
        text-align: justify;
        margin-left:35px ;
    }
}

@media (min-width:769px) and (max-width:820px){
    #contacto_titulo{    
        padding-top: 30px;
        text-align: center;
        position: relative;
        line-height: 80px;
    }
}

@media (min-width:0px) and (max-width:768px){
    #li_indexVideo{
        text-align: justify;
        padding-right:0px ;
        margin-left:0px;
        margin-right:20px ;
    }
    #contacto_titulo{    
        padding-top: 50px;
        text-align: center;
        position: relative;
        line-height: 80px;
        padding-top:23vh;
    }
    #titulo_html>#contacto_titulo{
        padding-top: 50px;
        text-align: center;
        position: relative;
        line-height: 80px;
        padding-top:25vh;
    }
    #titulo_diseño>#contacto_titulo,#titulo_hosting>#contacto_titulo{
        padding-top: 50px;
        text-align: center;
        position: relative;
        line-height: 80px;
        padding-top:30vh;
    }
    #li_contactoQuien_soy{
        padding-right:0px;
        text-align: justify;
        margin-left: 0px;  
    }
    #li_contactoQue_hago{
        padding-right: 0px;
        text-align: justify;
        margin-left: 0px;  
    }
    #li_contactoComo_trabajo{
        padding-right:0px;
        text-align: justify;
        margin-left: 0px;  
    }
    .lista  {
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0px;  
        padding-left: 0px ;
    }

    

    .lista > #subcontenido_contacto{
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding-right: 20px;
        padding-left:0px;
    }
  
    
}
@media (min-width:700px) and (max-width:766px){
    #tituloIndex>#contacto_titulo,#titulo_hosting>#contacto_titulo{
        padding-top: 50px;
        text-align: center;
        position: relative;
        line-height: 80px;
        padding-top:40vh;
    }
}
@media (min-width:0px) and (max-width:416px){
    #titulo_diseño>#contacto_titulo{
        padding-top: 50px;
        text-align: center;
        position: relative;
        line-height: 80px;
        padding-top: 20vh;
    }
}
@media (min-width:0px) and (max-width:364px){
    #titulo_html>#contacto_titulo{
        padding-top: 50px;
        text-align: center;
        position: relative;
        line-height: 80px;
        padding-top: 20vh;
    }
}
